body {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
  color: #14171a;
  font-size: 18px;
  line-height: 20px;
}

.body-ledis {
  position: relative;
  width: 100%;
}

.input-command {
  position: absolute;
  width: 100%;
  height: 40px;
  outline: none;
  background: #14171a;
  color: aliceblue;
  box-sizing: border-box;
  font-size: 18px
}

.history-command {
  position: relative;
  height: calc(100vh - 85px);
  padding: 10px;
  padding-top: 20px;
  background: #addde65e;
  border-radius: 5px;
  overflow-y: auto;
}

.preview {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.25)
}

.preview.show {
  display: flex;
}

.image-snapshot {
  margin: auto;
  height: 80vh;
  width: 80vw;
}

.icon-close {
  position: absolute;
  top: 10vh;
  left: 10vw;
}

.icon-image {
  position: absolute;
  right: 5px;
  top: 0;
}

.material-icons {
  cursor: pointer;
}
