body {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
  color: #14171a;
  font-size: 14px;
  line-height: 20px;
  height: 100vh;
}

.body-ledis {
  position: relative;
  height: 100%;
  width: 100%;
}

.input-command {
  position: absolute;
  bottom: 10px;
  width: 100vw;
  height: 40px;
  outline: none;
  background: #14171a;
  color: aliceblue;
}

.history-command {
  height: calc(100% - 55px);
  margin: 5px;
  background: #addde65e;
  border-radius: 5px;
  overflow-y: auto;
}